*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol {
  font-size: larger;
}

nav {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid black; */
  padding: 20px 100px;
  position: absolute;
  top: 0;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  justify-content: left;
  width: 100%;
  margin-right: 100px;
}

.logo > img {
  width: 80%;
  object-fit: contain;
  object-position: left;
}

.container1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  position: absolute;
  z-index: -1;
}

.bgdashboard {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
}

.left1,
.right1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left1 {
  flex-direction: column;
  align-items: start;
  gap: 100px;
  /* margin-right: 1000px; */
}

.right1 > img {
  margin-top: 5rem;
  margin-right: 2rem;
}

.judul1 {
  font-size: 2rem;
  color: #fff;
}

.left1 > p {
  color: #fff;
}

.container1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.left2,
.right2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: 55vh;
  width: 100vw;
  display: flex;
  position: relative;
  /* justify-content: space-around; */
}

.right2 {
  flex-direction: column;
  align-items: start;
  gap: 25px;
  padding-right: 10rem;
}

.right2 > p {
  font-size: 20px;
}

.left2 {
  justify-content: end;
}

.judul2 {
  font-size: 3rem;
  color: rgb(22, 87, 167);
}

.left2-child {
  height: 365px;
  width: 567px;
  position: relative;
}

.left2-child > img {
  position: absolute;
}

.left2-child > img:nth-child(1) {
  top: 0;
  left: 104px;
}

.left2-child > img:nth-child(2) {
  top: 150px;
  left: 0;
  z-index: -1;
}

.left2-child > img:nth-child(3) {
  top: 216px;
  left: 318px;
  z-index: -1;
}
